/* Fuentes tipogr치ficas */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Dise침o general */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

/* Encabezado */
header {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    color : #ffffff;
    background-color: #E93F01;
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
}
header > h1 {
    font-size: 3em;
    font-family: 'Alkatra', cursive;
    margin: 0px;
    text-align: center;
}
header > h2 {
    font-size: 1.5em;
    margin: 0px;
    text-align: center;
}

/* Navegaci칩n */
nav > ul {
    margin: 0;
    background-color: #0455BF;
    text-align: center;
}
nav > ul > li {
    display: inline-block;
    padding: 10px 20px;
}
nav > ul > li:hover {
    background-color: #F56727;
}
nav > ul > li > a {
    color : #ffffff;
    text-decoration: none;
}

/* Cuerpo principal */
main {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}
/* Secci칩n catalogo */
section#catalogo {
    text-align: center;
} 

/* Articulos */
article {
    width: 24%;
    max-width: 260px;
    min-width: 200px;
    display: inline-block;
    
}
.imgProduct {
    width: 100%;
}